<div class="container">
<div class="card card-inverse card-info mb-3 text-center">
  <div class="card-block">
    <h4 class="card-title">Dashboard</h4>
    
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Actions:</div>
    <div class="panel-body">
      <button type="button" class="btn btn-primary" (click)="MyShares()">Shares</button>
      <button type="button" class="btn btn-primary" (click)="createShare()">Create Share</button> 
      <!--
      <button type="button" class="btn btn-primary" (click)="listMemberShare()">Member of Share List</button> 
    -->
    </div>
  </div>
</div>
</div>